<h1>
    SignUp Page
</h1>
<form action="/register" method="POST">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="fname">
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lname">
    <label for="username">UserName</label>
    <input type="text" id="username" name="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <label for="phone">Mobile No:-</label>
    <input type="text" name="phone" id="phone">
    <label for="birth">Birth Date:</label>
    <input type="date" id="birth" name=birth>
    <button>Submit</button>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
</ul>